<header class="bg-blue-600 p-4 text-white shadow-md">
    <div class="container mx-auto flex justify-between items-center">
        <!-- Dynamically injected title -->
        <h1 class="text-xl font-bold">Welcome <%= title %></h1>
        <nav>
            <ul class="flex space-x-6">
                <!-- Dynamic Dashboard link -->
                <li><a href="<%= dashboard %>" class="text-lg font-semibold hover:text-blue-600 p-2 rounded-lg hover:bg-white ">Dashboard</a></li>
                <li><a href="/reports" class="text-lg font-semibold hover:text-blue-600 p-2 rounded-lg hover:bg-white ">Reports</a></li>
                <li><a href="/signout" class="text-lg font-semibold hover:text-blue-600 p-2 rounded-lg hover:bg-white "><%= sign %></a></li>
            </ul>
        </nav>
    </div>
</header>
